:root {
    --main-color: white; /*Random color*/

    --secondary-color: rgb(255, 255, 255); /*Navbar color*/
    --tertiary-color: rgb(50, 50, 50); /*Labeling color*/

    --main-font: 'Source Code Pro', monospace; /*Body font*/
    --secondary-font: 'Lato', sans-serif; /*Navbar font*/
}

body {
    margin: 0px;

    background-color: var(--main-color);
}

nav {
    position: relative;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 50px;

    background-color: var(--secondary-color);
    box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.4);

    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--tertiary-color);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav > div {
    width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav > div > input {
    display: none;
}

nav > div > label {
    width: 80px;
    padding: 3px;

    border: 1px solid var(--tertiary-color);
    border-radius: 3px;
    cursor: pointer;

    font-family: var(--secondary-font);
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    /* color: var(--tertiary-color); */
}

.selected-label {
    background-color: var(--main-color);
}

nav > div > label:hover {
    font-size: 20px;
}

main {
    position: relative;
    top: 30vh;

    width: 100vw;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main > h2 {
    width: fit-content;
    height: 80px;
    padding: 10px;

    background-color: var(--tertiary-color);
    border-radius: 5px;

    text-align: center;
    font-family: var(--main-font);
    font-size: 40px;
    color: var(--secondary-color);
}

main > h2 > span {
    color: var(--main-color);
}

main > button {
    width: 200px;
    height: 50px;
    padding: 10px;

    background-color: var(--main-color);
    border: 3px solid var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;

    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 900;
    color: var(--tertiary-color);
}

main > button:hover {
    width: 220px;
    height: 70px;

    background-color: var(--secondary-color);
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.4);

    font-size: 25px;
}